* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo {
  height: 200px;
  width: 200px;
}

nav {
  background-color: black;
}

.navbar {
  background-color: black;
  color: white;
}

li {
  display: flex;
  list-style-type: none;
}

#avatar {
  height: 40px;
  width: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: contents;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
}
