* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(26, 24, 24);
  font-family: "Roboto", sans-serif;
}
#logo {
  width: 5rem;
  margin: 1rem;
}
nav {
  background-color: black;
}
li {
  display: flex;
  list-style-type: none;
}
#avatar {
  height: 40px;
  width: 40px;
  border-radius: 3rem;
}

nav {
  margin-bottom: 1rem;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 5rem;
}
ul {
  display: contents;
}
a {
  color: white;
  text-decoration: none;
}
.footer {
  display: flex;
  padding: 20px;
  background-color: black;
  color: #fff;
}
.footer-column {
  flex: 1;
  padding: 10px;
  display: grid;
  justify-content: center;
}
.actif:focus {
  color: white;
}
.image {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  transition: transform 0.1s;
}
.movie {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
  justify-content: center;
  min-height: 100vh;
}
.image:hover {
  transform: scale(1.3);
}
.input {
  background-color: white;
  border-radius: 1rem;
  font-size: large;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media screen and (max-width: 844px) {
  #logo {
    width: 5rem;
  }

  .image {
    height: 300px;
    width: 160px;
    display: flex;
    justify-content: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    flex-direction: column;
  }
}
