* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(26, 24, 24);
}

#logo {
  width: 200px;
  height: 200px;
}

nav {
  background-color: black;
}

li {
  display: flex;
  list-style-type: none;
}

#avatar {
  height: 40px;
  width: 40px;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

ul {
  display: contents;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
}
.actif:focus {
  color: white;
}
.image {
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  transition: transform 0.1s;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
}

.image:hover {
  transform: scale(1.3);
}
